/* media small device */
@media screen and (max-width:576px){
    .nav-container,.bannar,.run-container ,.run-container,.bmi-calculator,.foot,.bmi-card{
        flex-direction: column;
    }
    .bannar{
        width: 100%;
    }
    .brand{
        font-size:60px ;

    }
   
    .grey-qo-regular {
       
        font-size: 120px;
        font-style: italic;
      }
    .brand-description{
        width: 100%;
    }
    .head{
        width: 100%;
        margin: 0px auto;
    }
    .circle1{
        display: none;
    }
    
    #play-circle{
        
        font-size: 30px;
        background-color:white ;
        color:rgba(230, 83, 60, 1);
        border-radius: 80%;
        border: none;
 
    }
   
    .circle2{
        display: block;
      
    }
    
    .card{
        margin: 0 auto;
        padding: 20px 55px;
    }
    .change-conteiner {
        margin: 0 auto;
    }
    .brand-description{
      margin-bottom:28px ;
    }
    
    .ul-container{
        display: none;
    }
    .hamburg{
        color: rgba(255, 255, 255, 1);
        display:block;
        width: 24px;
        
    }
    iframe{
        width: 400px;
    }
    
    .ti350{
        left: 110%;
    }
    .hoise{
        top: -500px;
    }
    .hoina1{
        left: 10px;
         
    }
    
    .banner-ima{
        width: 100%;
    }
    .bmi-calculator{
        width: 100%;
        height: 100%;
        
    }
    
    .bmi-card{
        margin: 0 auto;

    }
  .run-card button{
    width: 100%;
  }

.table-colum1{
    width: 300px;

margin-left: -0px;
margin-top: 42px;
 
   
}

input{
    max-width: 170px;
}
   .nav-list{
    margin-top: 40px;
   }
   .home-deco{
    margin-right: 30px;
   }
   .card-container,.training-ima-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 200px;
    justify-self: center;
   
   }
   .change-conteiner{
    max-width: 338px;
    margin-top: -100px;
   }
   .card-container{
 
    margin: 200px auto;

   }
   .run{
    margin-top: -130px;
   }
   
   .run-container{
    margin-top: 66px 20px;
    margin-left: auto;
    margin-right: auto;
   
   }
   .run-ima{
margin: 20px auto;
   }
   .meet-main{
    margin: 50px auto;
   
    grid-template-columns: repeat(1,1fr);

}
.meet-img{
    margin: 10px auto;
    gap: 0px;
   
}
.foot-main{

    margin-top: px;
}
.column1{
 margin-left: -230px;
 

    grid-template-columns: repeat(1,1fr);

    }
    .column{
    
      margin-left:-25px ;

    }
    .hr{
        margin: 0 auto;
        margin-left: -160px;
        width:420%;
    }
    .all{
        margin-left: -160px;
        width:450%;
        
      
    }
    
}